/************************************/
/*            Actualités            */
/************************************/
#titrePage {
    font-family: var(--police-titre);
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

#p-admin {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 1em 3em;
}

#p-admin a {
    background-color: #0ead00;
    color: var(--couleur-1);
    text-decoration: none;
    border-radius: var(--forme-display);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--police-titre-2);
    padding: 1em 2em;
}

#p-admin a img {
    width: 2em;
    height: 2em;
}

#p-admin a p {
    font-size: 1.5em;
}

#actualites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.actu {
    margin-top: 1em;
    display: grid;
    grid-template-rows: 5rem calc(100% - 5rem);
    grid-template-columns: 8fr 1.5fr 1.5fr;
    width: 100%;
    padding: 0px 20px;
}

.actu .entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.actu h1 {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    font-family: var(--police-titre-2);
    width: 100%;
}

.actu h5 {
    font-family: var(--police-titre-2);
    color: lightgray;
    width: 100%;
}

.actu p {
    padding: 10px 3em;
    font-size: 1.3em;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
}

.actu a {
    font-family: var(--police-titre-2);
    text-decoration: none;
    color: white;
}

.actu #editer {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #0083fd;
    height: 50%;
    border-radius: var(--forme-display);
    margin-right: 5px;
    padding: 0 5px;
}

.actu #editer img {
    margin-left: 5px;
}

.actu #supprimer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3c3c;
    height: 50%;
    align-self: center;
    border-radius: var(--forme-display);
    margin-left: 5px;
    padding: 0 5px;
}

.actu #supprimer img {
    margin-left: 5px;
}

/************************************/
/*      Formulaire actualités       */
/************************************/

.body-formActu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: var(--body-header);
}

.body-formActu a {
    width: 100%;
}

#formActuField {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: var(--couleur-3);
}

#formActuField form {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#formActuField form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formActuField form h1 {
    text-align: center;
    font-family: var(--police-titre-2);
    align-self: center;
}

#formActuField form label {
    font-family: var(--police-titre-2);
    font-size: 2em;
}

#formActuField form textarea {
    font-family: var(--police-titre-2);
    font-size: 1em;
}

#d1 textarea {
    display: flex;
    width: 30em;
    height: 5em;
    resize: none;
    outline: none;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgb(197, 197, 197) var(--couleur-5);
    padding: 0 5px;
}

#d2 textarea {
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: none;
    width: 30em;
    height: 8em;
    outline: none;
    padding: 0 5px;
    scrollbar-color: rgb(197, 197, 197) var(--couleur-5);
}

#formActuField form button {
    background-color: rgb(0, 150, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--police-titre-2);
    width: 30em;
    height: 5em;
    border-radius: 50px;
}

#formActuField form button p {
    font-size: 2em;
    color: white;
}

#formActuField form button img {
    margin-left: 5px;
    width: 3em;
    height: 3em;
}

#btn-form {
    display: flex;
    justify-content: center;
    align-items: center;
}