/************************************/
/*         Imports police           */
/************************************/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito+Sans&family=Poppins:wght@500&display=swap');

/************************************/
/*        Styles généraux           */
/************************************/
:root {
    /* Polices */
    --police-titre: 'Krona One', sans-serif;
    --police-titre-2: 'Poppins', sans-serif;
    --police-corps: 'Nunito Sans', serif;

    /* Couleurs */
    --couleur-1: #FFFFFF;
    --couleur-2: #BC5F04;
    --couleur-3: #d1af76;
    --couleur-4: #292929;
    --couleur-5: #e6e6e6;
    --couleur-6: #64091a;
    --couleur-7: #222222;
    --couleur-8: #5865F2;

    /* Tailles */
    --body-header: calc(100% - 6.5em)   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--couleur-4);
    font-family: var(--police-titre);
    color: var(--couleur-1);
    height: 100vh;
    font-family: var(--police-corps);
}

/************************************/
/*       Barre de navigation        */
/************************************/
header{
    height: 6.5em;
}

header nav {
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10fr 3fr;
    background-color: var(--couleur-7);
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    height: 100%;
}

header nav ul li a {
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    font-family: var(--police-titre-2);
    color: var(--couleur-1);
    height: 100%;
    font-size: 1.4em;
}

/* Bouton se connecter */

#se-co {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding: 0.2em;
}

#se-co2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 0.5em 3em;
    background-color: var(--couleur-6);
    font-family: var(--police-titre-2);
    text-decoration: none;
    color: var(--couleur-1);
    font-size: 1.35em;
}

/* Profil */
#li-user{
    display: flex;
    justify-content:center;
    align-items:center;
    list-style: none;
    padding: 1%;
    grid-column-start: 2;
    cursor: pointer;
}

#a-user{
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-right: 10px;
    border: 3px solid var(--couleur-3);
}

#img-user{
    width: 4.5em;
    height: 4.5em;
}

#pseudo-user{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--police-titre-2);
}

#pseudo-user p{
    font-size: 1.4em;
    color: var(--couleur-1);
}


/************************************/
/*             Accueil              */
/************************************/

#accueil{
    height: 70%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#p-titre{
    text-align: center;
    font-size: 2.5em;
    width: 50%;
    font-family: var(--police-titre);
}

#p-texte{
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

/************************************/
/*            Actualités            */
/************************************/
#titrePage{
    font-family: var(--police-titre);
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

#p-admin{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    height: auto;
    padding: 1em 3em;
}

#p-admin a{
    background-color: #0ead00;
    color: var(--couleur-1);
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: var(--police-titre-2);
    padding: 1em 2em;
}

#p-admin a img{
    width: 2em;
    height: 2em;
}

#p-admin a p{
    font-size: 1.5em;
}
#actualites{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    height:auto;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.actu{
    margin-top: 1em;
    display: grid;
    grid-template-rows: 5rem calc(100% - 5rem);
    grid-template-columns: 8fr 1.5fr 1.5fr;
    width:100%;
    padding: 0px 20px;
}

.actu .entete{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.actu h1{
    font-size: 2em;
    display: flex;
    justify-content:flex-start;
    font-family: var(--police-titre-2);
    width: 100%;
}

.actu h5{
    font-family: var(--police-titre-2);
    color: lightgray;
    width: 100%;
}

.actu p{
    padding: 10px 3em;
    font-size: 1.3em;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
}

.actu a{
    font-family: var(--police-titre-2);
    text-decoration: none;
    color: white;
}

.actu #editer{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #0083fd;
    height: 50%;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0 5px;
}

.actu #editer img{
    margin-left: 5px;
}

.actu #supprimer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3c3c;
    height: 50%;
    align-self: center;
    border-radius:5px;
    margin-left: 5px;
    padding: 0 5px;
}

.actu #supprimer img {
    margin-left: 5px;
}

/************************************/
/*      Formulaire actualités       */
/************************************/

.body-formActu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: var(--body-header);
}

.body-formActu a{
    width: 100%;
}

#formActuField{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: var(--couleur-3);
}

#formActuField form{
    height:100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#formActuField form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formActuField form h1{
    text-align: center;
    font-family: var(--police-titre-2);
    align-self: center;
}

#formActuField form label {
    font-family: var(--police-titre-2);
    font-size: 2em;
}

#formActuField form textarea{
    font-family: var(--police-titre-2);
    font-size: 1em;
}

#d1 textarea{
    display: flex;
    width: 30em;
    height: 5em;
    resize: none;
    outline: none;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgb(197, 197, 197) var(--couleur-5);
    padding: 0 5px;
}

#d2 textarea{
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: none;
    width: 30em;
    height: 8em;
    outline: none;
    padding: 0 5px;
    scrollbar-color: rgb(197, 197, 197) var(--couleur-5);
}

#formActuField form button{
    background-color: rgb(0, 150, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--police-titre-2);
    width: 30em;
    height: 5em;
    border-radius: 50px;
}

#formActuField form button p{
    font-size: 2em;
    color: white;
}

#formActuField form button img{
    margin-left: 5px;
    width: 3em;
    height: 3em;
}

#btn-form{
    display: flex;
    justify-content:center;
    align-items:center;
}

/************************************/
/*      Moderation : membres        */
/************************************/

#mod-body {
    display: grid;
    grid-template-columns: 3fr 18fr;
}

.menu{
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    background-color: var(--couleur-7);
    padding: 3em 0em;
}


.menu a{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: var(--couleur-4);
    width: 100%;
    height: 3em;
    text-decoration: none;
    color: var(--couleur-5);
    font-family: var(--police-titre-2);
    margin-bottom: 1em;
    font-size: 1.2em;
}

.div-generale-m{
    display: flex;
    flex-direction: column;
}

#tri{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 0 2em;
    background-color:var(--couleur-7);
}

#tri p{
    font-family: var(--police-titre-2);
    text-align: center;
}

#tri div{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    list-style-type: none;
    width: 60%;
}

#tri div p{
    margin: 0 0.1em;
}


#tri div a{
    font-family: var(--police-titre-2);
    margin: 0 1em;
    text-decoration: none;
    background-color: var(--couleur-8);
    padding: 0 2em;
    color: var(--couleur-5);
    border-radius: 20px;
}


.membres{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    grid-column-start: 2;
    padding: 2em 0em;
    background-color: var(--couleur-3);
}

.membre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: calc(100% - 68%);
    border-radius: 20px;
    background-color: var(--couleur-4);
    margin: 0px 0.5em 1em 0.5em;
    padding: 0.5em;
}


.div-img{
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.membre p{
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100px;
    height: 100px;
    background-color:var(--couleur-4);
}

.membre p img{
    background-image: var(--couleur-4);
    width: 100px;
    height: 100px;
}

.div-username{
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 5;
    align-items: center;
}

.membre h1{
    font-family: var(--police-titre);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    flex-wrap: wrap;
}

.membre h1 p{
    font-family: var(--police-titre);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    height:10%;
    color: #cccbcb;
}

.div-expu{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.expulser{
    font-family: var(--police-titre-2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--couleur-5);
    background-color: #ff3c3c;
    width: 95%;
    height: 40%;
    border-radius: 50px;
}

.div-ban{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}

.bannir{
    font-family: var(--police-titre-2);
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    color: var(--couleur-5);
    background-color: #cc0e0e;
    width: 95%;
    height: 40%;
    border-radius: 50px;
}

/************************************/
/*      Moderation : formulaire     */
/************************************/

#form-sanction{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: var(--body-header);
}

#form-sanction a{
    width: 100%;
}

#form-sanction form{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#form-sanction h1{
    font-family: var(--police-titre);
}

#form-sanction #div-raison{
    display: flex;
    flex-direction: column;
}

#form-sanction #div-raison label{
    font-family: var(--police-titre-2);
    font-size: 2em;
}

#form-sanction #div-raison textarea {
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: none;
    width: 40em;
    height: 8em;
    outline: none;
    padding: 0 5px;
    font-family: var(--police-titre-2);
    scrollbar-color: rgb(197, 197, 197) var(--couleur-5);
}


#form-sanction #btn-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-sanction form button p {
    font-size: 1.5em;
    color: white;
}

#form-sanction form button img {
    margin-left: 5px;
    width: 3em;
    height: 3em;
}

#form-sanction form button {
    background-color: rgb(0, 150, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--police-titre-2);
    width: 20em;
    height: 4em;
    border-radius: 50px;
}

/************************************/
/*      Moderation : bannis         */
/************************************/

.div-deban {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.div-deban a{
    background-color: var(--couleur-8);
    color: var(--couleur-1);
    font-family: var(--police-titre-2);
    text-decoration: none;
    padding: 0.8em 1.2em;
    border-radius: 50px;
    width: 95%;
    text-align: center;
    font-size: 0.95em;
}

.div-raison {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}

.div-raison a{
    background-color: #0083fd;
    color: var(--couleur-1);
    font-family: var(--police-titre-2);
    text-decoration: none;
    padding: 0.8em 1.2em;
    border-radius: 50px;
    width: 95%;
    text-align: center;
    font-size: 0.95em;
}

/*******************************************/
/* Page pour voir la raison du banissement */
/*******************************************/
.div-body-raison{
    height: var(--body-header);
}

.retour{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--police-titre-2);
    padding: 0 2em;
    margin-top: 2em;
    text-decoration: none;
    color: var(--couleur-1);
    font-size: 1.4em;
}

.retour:hover{
    text-decoration: underline;
}

.retour img{
    filter: invert();
    margin-right: 1em;
}

.div-body-raison div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.div-body-raison fieldset{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    flex-direction: column;
    width: 70%;
    height: 80%;
    border-color: #d1af76;
}

.div-body-raison fieldset div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.div-body-raison div fieldset h1{
    font-family: var(--police-titre);
}

.div-body-raison div fieldset p {
    font-family: var(--police-titre-2);
    font-size: 1.7em;
}

.div-body-raison div fieldset h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--police-titre-2);
    font-size: 1.3em ;
    color: #cccbcb;
}

.div-body-raison div fieldset a {
    background-color: #5865F2;
    font-family: var(--police-titre-2);
    color: var(--couleur-1);
    text-decoration: none;
    font-size: 1.4em;
    padding: 1em 7em;
    border-radius: 50px;
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}