/************************************/
/*         Imports police           */
/************************************/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito+Sans&family=Poppins:wght@500&display=swap');

/************************************/
/*        Styles généraux           */
/************************************/
:root {
    /* Polices */
    --police-titre: 'Krona One', sans-serif;
    --police-titre-2: 'Poppins', sans-serif;
    --police-corps: 'Nunito Sans', serif;

    /* Couleurs */
    --couleur-1: #FFFFFF;
    --couleur-2: #1f1a22;
    --couleur-3: #463455; 
    --couleur-4: #292929;
    --couleur-5: #e6e6e6;
    --couleur-6: #cfa0e9;
    --couleur-7: #222222;
    --couleur-8: #5865F2;

    /* Tailles */
    --body-header: calc(100vh - 6.5em); 
    --ratio-menu: 4fr 20fr;
    --ratio-entree: 80%;

    /* Formes */
    --forme-display: 120px;
    --forme-display-alt : 20px;
    --forme-display-alt-2: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--couleur-4);
    font-family: var(--police-titre);
    color: var(--couleur-1);
    height: 100vh;
    font-family: var(--police-corps);
}