/************************************/
/*         Imports police           */
/************************************/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Krona+One&display=swap');

/************************************/
/*        Styles généraux           */
/************************************/
:root {
    /* Polices */
    --police-titre: 'Krona One', sans-serif;
    --police-corps: 'Barlow Condensed', sans-serif;

    /* Couleurs */
    --texte-1: #FFFFFF;
    --texte-2: #BC5F04;
    --fond-general: #2C2F33;
    --fond-bv: #5865F2;
    
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fond-general);
    font-family: var(--police-titre);
    color: var(--texte-1);
    height: 100vh;
}

/************************************/
/*       Barre de navigation        */
/************************************/
header {
    margin: 2em 5em;
}

header nav {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 0px 5em;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-family: var(--police-titre);
    color: var(--texte-1);
}

#se-co {
    list-style: none;
}

#se-co2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 3em;
    background-color: var(--fond-bv);
    font-family: var(--police-titre);
    text-decoration: none;
    color: var(--texte-1);
}

#accueil{
    height: 70%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#p-titre{
    text-align: center;
    font-size: 2.5em;
    width: 50%;
}

#p-texte{
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}